:root {
    --color-lighter: hsl(80, 10%, 90%);
    --color-light: hsl(80, 10%, 80%);
    --color-dark: hsl(360, 10%, 10%);
    --color-dark-transparent: hsla(360, 10%, 10%, 0.2);

    --step--1: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
    --step-2: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);

    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);

    --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

    --space-4xl-5xl: clamp(7.88rem, calc(7.14rem + 3.7vw), 10rem);
}


.container {

    display: flex;
    justify-content: center;

}

.stats {

    margin-top: 5rem;

    background-color: red;

    width: 30rem;

    margin-left: auto;

    margin-right: auto;

    padding-right: 1rem;

    font-size: x-large;
}

.main {



    background-color: green;

    max-width: 56rem;

    margin-left: auto;

    margin-right: auto;

    padding-top: 1rem;

    padding-left: 1rem;

    padding-right: 1rem;

    font-size: x-large;

    text-align: center;


}

.upgrade {

    margin-top: 5rem;

    background-color: rgb(0, 0, 255);

    margin-left: auto;

    margin-right: auto;

    width: 30rem;

    padding-right: 1rem;

    font-size: x-large;
}

#game-button {
    width: 30rem;
    height: 30rem;
    font-size: var(--step-2);
    background: url('../img/butterdog-button.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    color: var(--color-light);
    font-weight: 700;
    cursor: pointer;
}

#msgbox {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox>p {
    margin-bottom: var(--space-xs-s);
    padding: var(--space-xs-s);
}

.warning {
    background-color: palevioletred;
}

.success {
    background-color: mediumspringgreen;
}

.achievement {
    color: var(--color-light);
    background-color: rebeccapurple;
}

.game-currency {
    list-style: none;


}

li {

    margin-bottom: 2rem;

}

.card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--color-dark-transparent);
    margin: var(--space-xs-s) 0;
    padding: var(--space-s-m) var(--space-xs-s);
}

.card:hover {
    background-color: var(--color-lighter);
}

.card p:not(.title) {
    text-align: end;
}

.upgrades {

    margin-bottom: 2rem;

}